[Desktop Entry]
Name=Klickety
Name[x-test]=xxKlicketyxx
GenericName=Board Game
GenericName[fr]=Jeu de plateau
GenericName[ja]=ボードゲーム
GenericName[x-test]=xxBoard Gamexx
Icon=klickety
Exec=klickety -caption "%c"
Encoding=UTF-8
Type=Application
DocPath=klickety/index.html
Comment=
Categories=Qt;KDE;Game;StrategyGame;
