[Desktop Entry]
Name=Klickety
GenericName=Board Game
Icon=klickety
Exec=klickety -caption "%c"
Type=Application
DocPath=klickety/index.html
Comment=
Categories=Qt;KDE;Game;StrategyGame;
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
