[Desktop Entry]
Name=Klickety
GenericName=Board Game
GenericName[de]=Brettspiel
GenericName[pt]=Jogo de Tabuleiro
GenericName[pt_BR]=Jogo de Tabuleiro
Icon=klickety
Exec=klickety -caption "%c"
Encoding=UTF-8
Type=Application
DocPath=klickety/index.html
Comment=
Categories=Qt;KDE;Game;StrategyGame;
