[Desktop Entry]
Name=SameGame
Name[af]=Samegame
Name[ast]=MesmuXuegu
Name[be]=Гульня Same
Name[bn]=সেইমগেম
Name[br]=Heñvelded
Name[bs]=SameGame
Name[ca]=Joc iguals
Name[ca@valencia]=Joc iguals
Name[cs]=Same
Name[cy]=YrUnGêm
Name[da]=Samspil
Name[de]=Probiere
Name[el]=SameGame
Name[en_GB]=SameGame
Name[eo]=Samludo
Name[es]=Juego Iguales
Name[et]=Sama mäng
Name[eu]=SameGame
Name[fa]=همین بازی
Name[fi]=KSame
Name[fr]=Jeu Same
Name[ga]=SameGame
Name[gl]=Iguais
Name[he]=SameGame
Name[hne]=सेम-गेम
Name[hr]=Ista Igra
Name[hu]=SameGame
Name[is]=SamaSpilið
Name[it]=SameGame
Name[ja]=さめがめ
Name[kk]=Same ойыны
Name[km]=SameGame
Name[ko]=SameGame
Name[lt]=SameGame
Name[lv]=SameGame
Name[mk]=SameGame
Name[nb]=SameGame
Name[nds]=SameGame
Name[ne]=उस्तै खेल
Name[nl]=SameGame
Name[nn]=SameGame
Name[pa]=ਸੇਮ ਖੇਡ
Name[pl]=ToSamo
Name[pt]=SameGame
Name[pt_BR]=SameGame
Name[ro]=Identice
Name[ru]=Игра Same
Name[se]=SameGame
Name[sk]=KSame
Name[sl]=SameGame
Name[sr]=К‑исто‑исто
Name[sr@ijekavian]=К‑исто‑исто
Name[sr@ijekavianlatin]=K‑isto‑isto
Name[sr@latin]=K‑isto‑isto
Name[sv]=Samegame
Name[ta]=அதே விளையாட்டு
Name[te]=సేమ్ గేమ్
Name[tg]=Бозии Same
Name[tr]=AynıOyun
Name[ug]=SameGame
Name[uk]=Та сама гра
Name[vi]=SameGame
Name[wa]=Djeu Same Game
Name[xh]=Ikwa ngumdlalo ofanayo
Name[x-test]=xxSameGamexx
Name[zh_CN]=SameGame
Name[zh_TW]=SameGame
Exec=klickety --KSameMode -caption "%c"
Type=Application
X-DocPath=ksame/index.html
GenericName=Board Game
GenericName[af]=Bord Speletjie
GenericName[ast]=Xuegu de tableru
GenericName[be]=Настольная гульня
GenericName[bn]=ছককেন্দ্রিক খেলা
GenericName[br]=Ur c'hoari taolenn
GenericName[bs]=Igra na ploči
GenericName[ca]=Joc de taula
GenericName[ca@valencia]=Joc de taula
GenericName[cs]=Desková Same
GenericName[cy]=Gêm Fwrdd
GenericName[da]=Brætspil
GenericName[de]=Brettspiel
GenericName[el]=Επιτραπέζιο παιχνίδι
GenericName[en_GB]=Board Game
GenericName[eo]=Bretludo
GenericName[es]=Juego de tablero
GenericName[et]=Lauamäng
GenericName[eu]=Mahai-jokoa
GenericName[fa]=بازی تخته
GenericName[fi]=Lautapeli
GenericName[fr]=Jeu de plateau
GenericName[ga]=Cluiche Cláir
GenericName[gl]=Xogo de taboleiro
GenericName[he]=משחק לוח
GenericName[hne]=बिसात वाले खेल
GenericName[hr]=Igra na ploči
GenericName[hu]=Táblajáték
GenericName[is]=Borðleikur
GenericName[it]=Gioco da tavolo
GenericName[ja]=ボードゲーム
GenericName[kk]=Тақта ойыны
GenericName[km]=ល្បែង​ក្ដារ
GenericName[ko]=보드 게임
GenericName[lt]=Stalo žaidimas
GenericName[lv]=Galda spēle
GenericName[mai]=बिसात केर खेल
GenericName[mk]=Игра на табла
GenericName[nb]=Brettspill
GenericName[nds]=Brettspeel
GenericName[ne]=बोर्ड खेल
GenericName[nl]=Bordspel
GenericName[nn]=Brettspel
GenericName[pa]=ਬੋਰਡ ਖੇਡ
GenericName[pl]=Gra planszowa
GenericName[pt]=Jogo de Tabuleiro
GenericName[pt_BR]=Jogo de Tabuleiro
GenericName[ro]=Un joc de table
GenericName[ru]=Настольная игра
GenericName[se]=Duolbbášspeallu
GenericName[sk]=Stolová hra
GenericName[sl]=Namizna igra
GenericName[sr]=Игра на табли „исто‑исто“
GenericName[sr@ijekavian]=Игра на табли „исто‑исто“
GenericName[sr@ijekavianlatin]=Igra na tabli „isto‑isto“
GenericName[sr@latin]=Igra na tabli „isto‑isto“
GenericName[sv]=Brädspel
GenericName[ta]=பலகை விளையாட்டு
GenericName[te]=పలక ఆట
GenericName[tg]=Бозии Рӯи Мизӣ
GenericName[tr]=Tahta Oyunu
GenericName[ug]=تاختا ئويۇنى
GenericName[uk]=Гра на дошці
GenericName[uz]=Stol oʻyini
GenericName[uz@cyrillic]=Стол ўйини
GenericName[vi]=Game bàn 
GenericName[wa]=Djeu d' platea
GenericName[xh]=Umdlalo Webhodi
GenericName[x-test]=xxBoard Gamexx
GenericName[zh_CN]=色块消去游戏
GenericName[zh_TW]=棋盤遊戲
Icon=ksame
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
