[Desktop Entry]
Name=SameGame
Name[x-test]=xxSameGamexx
Exec=klickety --KSameMode -caption "%c"
Type=Application
X-DocPath=ksame/index.html
GenericName=Board Game
GenericName[x-test]=xxBoard Gamexx
Icon=ksame
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Game;StrategyGame;
