[KGameTheme]
Name=Classic
Description=Klickety Classic Theme
VersionFormat=1
Author=Ni Hui
AuthorEmail=shuizhuyuanluo@126.com
Type=SVG
FileName=classic.svg
Preview=classic_preview.png
