[KGameTheme]
Name=KSame
Name[bs]=KSame
Name[ca]=KSame
Name[ca@valencia]=KSame
Name[cs]=KSame
Name[da]=KSame
Name[de]=KSame
Name[el]=KSame
Name[en_GB]=KSame
Name[es]=KSame
Name[et]=KSame
Name[fr]=KSame
Name[ga]=KSame
Name[gl]=KSame
Name[it]=KSame
Name[km]=KSame
Name[nb]=KSame
Name[nds]=KSame
Name[nl]=KSame
Name[pl]=KSame
Name[pt]=KSame
Name[pt_BR]=KSame
Name[ru]=KSame
Name[sk]=KSame
Name[sr]=К‑исто‑исто
Name[sr@ijekavian]=К‑исто‑исто
Name[sr@ijekavianlatin]=K‑isto‑isto
Name[sr@latin]=K‑isto‑isto
Name[sv]=Ksame
Name[tr]=KSame
Name[uk]=KSame
Name[x-test]=xxKSamexx
Name[zh_CN]=KSame
Name[zh_TW]=KSame
Description=Klickety KSame Theme
Description[bs]=Tema KSame za Kliketi
Description[ca]=Tema KSame del Klickety
Description[ca@valencia]=Tema KSame del Klickety
Description[da]=KSame-tema til Klickety
Description[de]=Das KSame-Design für Klickety.
Description[el]=Θέμα Klickety KSame
Description[en_GB]=Klickety KSame Theme
Description[es]=Tema de KSame para Klickety
Description[et]=Klickety KSame'i teema
Description[fr]=Thème KSame pour Klickety
Description[gl]=Tema Klickety do KSame
Description[it]=Tema Klickety per KSame
Description[km]=ស្បែក​​របស់ Klickety KSame
Description[nb]=KSame-tema for Klickety
Description[nds]=KSame-Utsehn för Klickety
Description[nl]=Klickety KSame thema
Description[pl]=Motyw KSame dla Klickety
Description[pt]=Tema do KSame para o Klickety
Description[pt_BR]=Tema KSame do Klickety
Description[ru]=Классическое оформление KSame
Description[sr]=Тема К‑исто‑истоа за Кликети
Description[sr@ijekavian]=Тема К‑исто‑истоа за Кликети
Description[sr@ijekavianlatin]=Tema K‑isto‑istoa za Kliketi
Description[sr@latin]=Tema K‑isto‑istoa za Kliketi
Description[sv]=Klickety Ksame tema
Description[uk]=Тема «Тієї самої гри» Klickety
Description[x-test]=xxKlickety KSame Themexx
Description[zh_CN]=Klickety KSame 主题
Description[zh_TW]=Klickety KSame 主題
VersionFormat=1
Author=Ni Hui
AuthorEmail=shuizhuyuanluo@126.com
Type=SVG
FileName=ksame.svg
Preview=ksame_preview.png
