[KGameTheme]
Name=KSame Old
Name[en_GB]=KSame Old
Name[es]=KSame antiguo
Name[pt]=KSame Antigo
Name[pt_BR]=KSame antigo
Name[sv]=Gammalt Ksame
Name[uk]=Стара «Та сама гра»
Name[x-test]=xxKSame Oldxx
Name[zh_TW]=KSame 舊式
Description=Klickety KSame Old Theme
Description[en_GB]=Klickety KSame Old Theme
Description[es]=Tema antiguo de KSame para Klickety
Description[pt]=Tema Antigo do KSame para o Klickety
Description[pt_BR]=Tema antigo do KSame do Klickety
Description[sv]=Klickety gammalt Ksame tema
Description[uk]=Стара тема «Тієї самої гри» Klickety
Description[x-test]=xxKlickety KSame Old Themexx
Description[zh_TW]=Klickety KSame 舊式主題
VersionFormat=1
Author=Ni Hui
AuthorEmail=shuizhuyuanluo@126.com
Type=SVG
FileName=ksame_old.svg
Preview=ksame_old_preview.png
