[KGameTheme]
Name=KSame
Description=Klickety KSame Theme
VersionFormat=1
Author=Ni Hui
AuthorEmail=shuizhuyuanluo@126.com
Type=SVG
FileName=ksame.svg
Preview=ksame_preview.png
