[KGameTheme]
Name=KSame
Name[uk]=KSame
Name[x-test]=xxKSamexx
Description=Klickety KSame Theme
Description[uk]=Тема «Тієї самої гри» Klickety
Description[x-test]=xxKlickety KSame Themexx
VersionFormat=1
Author=Ni Hui
AuthorEmail=shuizhuyuanluo@126.com
Type=SVG
FileName=ksame.svg
Preview=ksame_preview.png
