[KGameTheme]
Name=KSame Old
Name[ar]=سيم ك قديم
Name[bg]=KSame стара
Name[bs]=KSame stari
Name[ca]=KSame antic
Name[ca@valencia]=KSame antic
Name[da]=Gammelt KSame
Name[de]=KSame (alt)
Name[el]=KSame Old
Name[en_GB]=KSame Old
Name[eo]=KSame Malnova
Name[es]=Ksame antiguo
Name[et]=Vana KSame
Name[eu]=KSame zaharra
Name[fi]=Vanha KSame
Name[fr]=Ancien thème « KSame »
Name[ga]=Seantéama KSame
Name[gl]=KSame antigo
Name[hi]=केसेम पुराना
Name[hu]=KSame Old
Name[id]=KSame Old
Name[it]=Vecchio Ksame
Name[ka]=KSame ძველი
Name[kk]=Ескі KSame
Name[km]=ស្បែក​បុរាណ​​របស់ KSame
Name[ko]=KSame 고전
Name[lv]=KSame vecā
Name[mr]=के-सेम जुनी
Name[nb]=KSame gammelt tema
Name[nds]=Oolt KSame
Name[nl]=KSame oud
Name[nn]=KSame gammal
Name[pl]=Stare KSame
Name[pt]=Antigo do KSame
Name[pt_BR]=KSame antigo
Name[ru]=Старое оформление KSame
Name[sk]=KSame stará
Name[sl]=Stara KSame
Name[sr]=К‑исто‑исто, стара
Name[sr@ijekavian]=К‑исто‑исто, стара
Name[sr@ijekavianlatin]=K‑isto‑isto, stara
Name[sr@latin]=K‑isto‑isto, stara
Name[sv]=Gammalt Ksame
Name[tr]=Eski K Same
Name[uk]=Стара «Та сама гра»
Name[x-test]=xxKSame Oldxx
Name[zh_CN]=KSame 旧版
Name[zh_TW]=KSame 舊式
Description=Klickety KSame Old Theme
Description[ar]=سمة كلاكتي سيم ك قديمة
Description[bg]=Стара тема на Klickety KSame
Description[bs]=Stara tema KSame za Klickety
Description[ca]=Tema KSame antic del Klickety
Description[ca@valencia]=Tema KSame antic de Klickety
Description[cs]=Starý motiv Klickety pro KDE 4
Description[da]=Gammelt KSame-tema til Klickety
Description[de]=Das alte KSame-Design für Klickety.
Description[el]=Θέμα Klickety KSame Old
Description[en_GB]=Klickety KSame Old Theme
Description[eo]=Klickety KSame Malnova Etoso
Description[es]=Tema antiguo de KSame para Klickety
Description[et]=Klickety KSame'i vana teema
Description[eu]=Klickety KSame zaharra gaia
Description[fi]=Klicketyn vanha KSame-teema
Description[fr]=Ancien thème « KSame » pour Klickety
Description[ga]=Seantéama KSame Klickety
Description[gl]=Tema antigo Klickety de KSame
Description[hi]=क्लिकेटी कसेम पुराना प्रसंग
Description[hu]=Klickety KSame Old téma
Description[id]=Tema Lawas KSame Klickety
Description[it]=Vecchio tema Klickety per KSame
Description[ka]=Klickety KSame ძველი თემა
Description[kk]=Ескі Klickety KSame нақышы
Description[km]=ស្បែក​បុរាណ​​របស់ Klickety KSame
Description[ko]=Klickety KSame 고전 테마
Description[lv]=Klickety KSame vecā tēma
Description[mr]=क्लिकेटी के-सेम जुनी शैली
Description[nb]=Klickety KSame gammelt tema
Description[nds]=Dat ole KSame-Utsehn för Klickety
Description[nl]=Klickety KSame oud thema
Description[nn]=Gammalt KSame-tema for Klickety
Description[pl]=Stary wystrój KSame dla Klickety
Description[pt]=Tema Antigo do KSame para o Klickety
Description[pt_BR]=Tema antigo do KSame do Klickety
Description[ru]=Старое оформление KSame
Description[sk]=Stará téma Klickety KSame
Description[sl]=Stara tema KSame za Klickety
Description[sr]=Стара тема К‑исто‑истог за Кликети
Description[sr@ijekavian]=Стара тема К‑исто‑истог за Кликети
Description[sr@ijekavianlatin]=Stara tema K‑isto‑istog za Kliketi
Description[sr@latin]=Stara tema K‑isto‑istog za Kliketi
Description[sv]=Klickety gammalt Ksame tema
Description[tr]=Eski K Elmas Teması
Description[uk]=Стара тема «Тієї самої гри» Klickety
Description[x-test]=xxKlickety KSame Old Themexx
Description[zh_CN]=Klickety KSame 旧版主题
Description[zh_TW]=Klickety KSame 舊式主題
VersionFormat=1
Author=Ni Hui
AuthorEmail=shuizhuyuanluo@126.com
Type=SVG
FileName=ksame_old.svg
Preview=ksame_old_preview.png
